<div class="grid-container">
  <div style="text-align: justify;">
    <h1 style="display: inline-block; text-align: left;"> Dashboard </h1>
  </div>
  <h4 *ngIf="auth.user$ | async as user">
    <h4> <span style="color: rgb(67, 105, 24)"> Welcome back {{ user.name }}! </span> </h4>
  </h4>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <div class="first">
          <h2> Browse Recipes </h2>
        </div>
        <div class="second" style="color: rgb(67, 105, 24);">
          <h3 class="newfont"> <br> Explore our entire catalogue of recipes.  <br> <br> </h3>
        </div>
        <div class="second">
          <button mat-stroked-button color = "warn" class="custom-button" routerLink="/search">Explore Now</button>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <div class="first">
          <h2> Browse Recipes </h2>
        </div>
        <div class="second" style="color: rgb(67, 105, 24);">
          <h3 class="newfont"> <br> Download your complete shopping list for this week.   <br> <br> </h3>
          <div class="second">
            <ul style="color: black">
              <li><h3> See all the ingredients you need.</h3></li>
              <li><h3> See how much you need. </h3></li>
              <li><h3> See what aisle your items are in. <br> <br> <br> <br> </h3></li>
            </ul>
          </div>
        </div>
        <div class="second">
          <app-pdfbutton></app-pdfbutton>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <div class="first">
          <h2> View Archive </h2>
        </div>
        <div class="second" style="color: rgb(67, 105, 24);">
          <h3 class="newfont"> <br> Access recipes you liked in the past.  <br> <br> </h3>
        </div>
        <div class="second">
          <button mat-stroked-button color = "warn" class="custom-button" routerLink="/archive">Show Archive</button>
        </div>
      </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>
</div>
<footer hidden>
