<div class="grid-container">
  <div style="text-align: justify;">
    <h1 style="display: inline-block; text-align: left;"> Dashboard </h1>
  </div>
  <h4 *ngIf="auth.user$ | async as user">
    <h4> <span style="color: rgb(67, 105, 24)"> Welcome back {{ user.name }}! </span> </h4>
  </h4>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <app-card></app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-content">
          <h2 class="dashboard-card-content"> Browse Recipes</h2>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="color: rgb(67, 105, 24);">
          <h3 class="newfont"> <br> Explore our entire catalogue of recipes.  <br> <br> </h3>
      </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-content">
          <h2> Download Your Shopping List <br></h2>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="color: rgb(67, 105, 24);">
          <h3 class="newfont"> <br> In Three Simple Steps!  <br> <br> </h3>
      </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header class="dashboard-card-content">
          <h2 class="dashboard-card-content"> View Archive <br></h2>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="color: rgb(67, 105, 24);">
          <h3 class="newfont"> <br> Access the recipes you liked in the past.  </h3>
      </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    
  </mat-grid-list>
</div>
<footer hidden>
