* {
  box-sizing: border-box;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.cardmajor {
  width: calc(100% - 20px);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
  justify-self: center;
}

.card {
  width: calc(33.33% - 20px);
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  justify-content: center;
  align-items: stretch;
}

.custom-button {
  background-color: #ffffff36; /* replace with the background color you want */
  border-width: 0.3px; /* increase the border width to your desired thickness */
  border-color: #183114d4; /* replace with the border color you want */
}

.first {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.second {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newfont {
  font-family: 'Barlow', sans-serif;
}


.mat-button {
  z-index: 1
}
