.welcome-container {
    position: relative;
    width: 50vw;
}

.welcome-image{
    width: 45vw;
    height: 100vh;
    opacity: 0.6;
    object-fit: cover;
    filter:brightness(40%);
}



.registerBtn {
    position: absolute;
    top: 450px;
    right: 194px;
    width: 200px;
    height: 50px;
    font-size: 16px;
    border-radius: 25px;
    background-color:rgb(0, 0, 0);
    color: white;
}

.registerBtn:hover {
    background-color: rgb(197, 225, 165);
    color: black;
    transition: 0.4s;
}
