/* div {
    text-align: center;
    font-size: large;
} */

.welcomeMessage {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 270px;
    left: 155px;
}

.loginButton {
    background-color: black;
    color:white;
    height: 40px;
    width: 70px;
    position: relative;
    /* top: 30px;
    right: 100px; */
    border-radius: 20px;
    transition: 0.4s;
}

.loginButton:hover {
    background-color: rgb(36, 79, 145);
    transition: 0.4s;
}

.signUp {
    background-color: black;
    color: white;
    height: 40px;
    width: 70px;
    position:relative;
    /* bottom: 1200px;
    left: 100px; */
    border-radius: 20px;
    transition: 0.4s;
}

.signUp:hover {
    background-color: rgb(36, 79, 145);
    transition: 0.4s;
}

.welcomeImage {
    width: 700px;
    height: 1300px;
    opacity: 0.6;
    object-fit: cover;
    filter:brightness(40%);
}

input {
    height: 25px;
    width: 200px;
    border-radius: 10px;
    padding: 5px 10px;
}

.registerBtn {
    position: absolute;
    top: 450px;
    right: 194px;
    width: 200px;
    height: 50px;
    font-size: 14px;
    border-radius: 25px;
    background-color:rgb(0, 0, 0);
    color: white;
}

.registerBtn:hover {
    background-color: rgb(36, 79, 145);
    transition: 0.4s;
}