<!DOCTYPE html>
<body>
    <div class="main-container">
        <div class="welcome-container" style="position: relative">
            <img class="welcome-image" src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg">
        </div>
        <div class="message-container">
            <p style="position: absolute; top:20%; right: 10vw; font-size: 30px; font-weight: bold; color:black">Welcome to <span style="color: rgb(197, 225, 165)">Foodplanner</span></p>
            <button class="registerBtn" routerLink="/home">Login</button>
        </div>
    </div>
</body>
<!--<!DOCTYPE html>
<body>
    <div style="position: relative">
        <img class="welcomeImage" src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg">
        <h1 style="position:absolute; top: 200px; left: 720px; opacity: 1.0; color: white;">Welcome to <span color="primary">foodplanner</span></h1>
        <app-auth-button></app-auth-button>
    </div>
</body>
<footer hidden>-->
 