<!DOCTYPE html>
<body>
    <!-- <div class="main-container"> -->
        <div class="welcome-container">
            <img class="welcome-image" src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg">
        </div>
        <div class="message-container">
            <p>Welcome to <span style="color: rgb(197, 225, 165)">Foodplanner</span></p>
            <h3>Start your culinary journey today</h3>
            <!-- <button class="registerBtn" routerLink="/home">Login</button> -->
            <app-auth-button class="registerBtn"> </app-auth-button>
        </div>
    <!-- </div> -->
</body>
 