<!--<!DOCTYPE html>
<body>
    <div class="welcome" style="position: relative">
        <img class="welcomeImage" src="https://media-cldnry.s-nbcnews.com/image/upload/rockcms/2022-03/plant-based-food-mc-220323-02-273c7b.jpg">
        <div class="welcomeMessage">Welcome to <span style="color: rgb(197, 225, 165)">Foodplanner</span></div>
    </div>
    <div class="newUserInformation">
        <p style="position: absolute; top: 350px; right: 240px; font-size: 30px; font-weight: bold; color:black">Sign Up</p>          
        <form>
            <input type="text" id="userName" name="userName" placeholder="NAME" style="position:absolute; top: 330px; right: 175px;">
            <input type="text" id="userEmail" name="userEmail" placeholder="EMAIL" style="position:absolute; top: 390px; right: 175px;">
            <input type="password" id="userPassword" name="userPassword" placeholder="PASSWORD" style="position:absolute; top: 450px; right: 175px;">
            <input type="password" id="confPassword" name="confPassword" placeholder="CONFIRM PASSWORD" style="position:absolute; top: 510px; right: 175px;">
        </form>
        <button class="registerBtn" routerLink="/home">Register</button>
    </div>
</body>-->
<!DOCTYPE html>
<body>
    <div style="position: relative; top:50px">
        <h1>Welcome to foodplanner</h1>
        <app-auth-button></app-auth-button>
    </div>
</body>
 