<!-- <!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Preferences</title>
</head>
<body>
  <div class="container">
    <h1>User Preferences</h1>
    <form (submit)="savePreferences()">
      <h2>Allergies</h2>
      <label>
        <input type="checkbox" name="allergy" value="peanuts"> Peanuts
      </label>
      <label>
        <input type="checkbox" name="allergy" value="seafood"> Seafood
      </label>
      <label>
        <input type="checkbox" name="allergy" value="soy"> Soy
      </label>
      <label>
        <input type="checkbox" name="allergy" value="milk"> Milk
      </label>
      <label>
        <input type="checkbox" name="allergy" value="eggs"> Eggs
      </label>

      <h2>Diet Restrictions</h2>
      <label>
        <input type="checkbox" name="diet" value="vegetarian"> Vegetarian
      </label>
      <label>
        <input type="checkbox" name="diet" value="vegan"> Vegan
      </label>
      <label>
        <input type="checkbox" name="diet" value="gluten-free"> Gluten-Free
      </label>

      <button type="submit">Save</button>
    </form>
  </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">

<div class="first">
<mat-card class="cardmajor">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Food Preferences</title>
  <link rel="stylesheet" href="preferences.component.css">
</head>

<body>
  <h1>Your Food Preferences</h1>
  <form (ngSubmit)="savePreferences()">
    <fieldset class="cuisine-grid">
      <legend>Diets</legend>
      <!-- Vegan checkbox -->
      <input type="checkbox" id="vegan" name="vegan" [(ngModel)]="vegan">
      <label for="vegan">Vegan</label><br>

      <!-- Vegetarian checkbox -->
      <input type="checkbox" id="vegetarian" name="vegetarian" [(ngModel)]="vegetarian">
      <label for="vegetarian">Vegetarian</label><br>

      <!-- Gluten-free checkbox -->
      <input type="checkbox" id="gluten_free" name="gluten_free" [(ngModel)]="gluten_free">
      <label for="gluten_free">Gluten-free</label><br>

      <!-- Ketogenic checkbox -->
      <input type="checkbox" id="ketogenic" name="ketogenic" [(ngModel)]="ketogenic">
      <label for="ketogenic">Ketogenic</label><br>


      <!-- Pescetarian checkbox -->
      <input type="checkbox" id="pescetarian" name="pescetarian" [(ngModel)]="pescetarian">
      <label for="pescetarian">Pescetarian</label><br>

      <!-- Paleo checkbox -->
      <input type="checkbox" id="paleo" name="paleo" [(ngModel)]="paleo">
      <label for="paleo">Paleo</label><br>

      <!-- Primal checkbox -->
      <input type="checkbox" id="primal" name="primal" [(ngModel)]="primal">
      <label for="primal">Primal</label><br>

      <!-- Low-FODMAP checkbox -->
      <input type="checkbox" id="low_fodmap" name="low_fodmap" [(ngModel)]="low_fodmap">
      <label for="low_fodmap">Low FODMAP</label><br>

      <!-- Whole30 checkbox -->
      <input type="checkbox" id="whole30" name="whole30" [(ngModel)]="whole30">
      <label for="whole30">Whole30</label><br>

    </fieldset>

    <fieldset class="cuisine-grid">
      <legend>Allergies</legend>

      <input type="checkbox" id="dairy" name="dairy" [(ngModel)]="dairy">
      <label for="dairy">Dairy</label><br>

      <input type="checkbox" id="egg" name="egg" [(ngModel)]="egg">
      <label for="egg">Egg</label><br>

      <input type="checkbox" id="gluten" name="gluten" [(ngModel)]="gluten">
      <label for="gluten">Gluten</label><br>

      <input type="checkbox" id="grain" name="grain" [(ngModel)]="grain">
      <label for="grain">Grain</label><br>

      <input type="checkbox" id="peanut" name="peanut" [(ngModel)]="peanut">
      <label for="peanut">Peanut</label><br>

      <input type="checkbox" id="seafood" name="seafood" [(ngModel)]="seafood">
      <label for="seafood">Seafood</label><br>

      <input type="checkbox" id="sesame" name="sesame" [(ngModel)]="sesame">
      <label for="sesame">Sesame</label><br>

      <input type="checkbox" id="shellfish" name="shellfish" [(ngModel)]="shellfish">
      <label for="shellfish">Shellfish</label><br>

      <input type="checkbox" id="soy" name="soy" [(ngModel)]="soy">
      <label for="soy">Soy</label><br>

      <input type="checkbox" id="sulfite" name="sulfite" [(ngModel)]="sulfite">
      <label for="sulfite">Sulfite</label><br>

      <input type="checkbox" id="nut-free" name="nut-free" [(ngModel)]="tree_nut">
      <label for="nut-free">Tree Nut</label><br>

      <input type="checkbox" id="wheat" name="wheat" [(ngModel)]="wheat">
      <label for="wheat">Wheat</label><br>

    </fieldset>

    <fieldset>
      <legend>Cuisines</legend>
      <div class="cuisine-grid">
        <label for="african">
          <input type="checkbox" id="african" name="african" [(ngModel)]="african">
          African</label><br>

        <label for="american">
          <input type="checkbox" id="american" name="american" [(ngModel)]="american">
          American</label><br>

        <label for="british">
          <input type="checkbox" id="british" name="british" [(ngModel)]="british">
          British</label><br>

        <label for="cajun">
          <input type="checkbox" id="cajun" name="cajun" [(ngModel)]="cajun">
          Cajun</label><br>

        <label for="caribbean">
          <input type="checkbox" id="caribbean" name="caribbean" [(ngModel)]="caribbean">
          Caribbean</label><br>

        <label for="chinese">
          <input type="checkbox" id="chinese" name="chinese" [(ngModel)]="chinese">
          Chinese</label><br>

        <label for="eastern_european">
          <input type="checkbox" id="eastern_european" name="eastern_european" [(ngModel)]="eastern_european">
          Eastern European</label><br>

        <label for="european">
          <input type="checkbox" id="european" name="european" [(ngModel)]="european">
          European</label><br>

        <label for="french">
          <input type="checkbox" id="french" name="french" [(ngModel)]="french">
          French</label><br>

        <label for="german">
          <input type="checkbox" id="german" name="german" [(ngModel)]="german">
          German</label><br>

        <label for="greek">
          <input type="checkbox" id="greek" name="greek" [(ngModel)]="greek">
          Greek</label><br>

        <label for="indian">
          <input type="checkbox" id="indian" name="indian" [(ngModel)]="indian">
          Indian</label><br>

        <label for="irish">
          <input type="checkbox" id="irish" name="irish" [(ngModel)]="irish">
          Irish</label><br>

        <label for="italian">
          <input type="checkbox" id="italian" name="italian" [(ngModel)]="italian">
          Italian</label><br>

        <label for="japanese">
          <input type="checkbox" id="japanese" name="japanese" [(ngModel)]="japanese">
          Japanese</label><br>

        <label for="jewish">
          <input type="checkbox" id="jewish" name="jewish" [(ngModel)]="jewish">
          Jewish</label><br>

        <label for="korean">
          <input type="checkbox" id="korean" name="korean" [(ngModel)]="korean">
          Korean</label><br>

        <label for="latin_american">
          <input type="checkbox" id="latin_american" name="latin_american" [(ngModel)]="latin_american">
          Latin American</label><br>

        <label for="mediterranean">
          <input type="checkbox" id="mediterranean" name="mediterranean" [(ngModel)]="mediterranean">
          Mediterranean</label><br>

        <label for="mexican">
          <input type="checkbox" id="mexican" name="mexican" [(ngModel)]="mexican">
          Mexican</label><br>

        <label for="middle_eastern">
          <input type="checkbox" id="middle_eastern" name="middle_eastern" [(ngModel)]="middle_eastern">
          Middle Eastern</label><br>

        <label for="nordic">
          <input type="checkbox" id="nordic" name="nordic" [(ngModel)]="nordic">
          Nordic</label><br>

        <label for="southern">
          <input type="checkbox" id="southern" name="southern" [(ngModel)]="southern">
          Southern</label><br>

        <label for="spanish">
          <input type="checkbox" id="spanish" name="spanish" [(ngModel)]="spanish">
          Spanish</label><br>

        <label for="thai">
          <input type="checkbox" id="thai" name="thai" [(ngModel)]="thai">
          Thai</label><br>

        <label for="vietnamese">
          <input type="checkbox" id="vietnamese" name="vietnamese" [(ngModel)]="vietnamese">
          Vietnamese</label><br>
      </div>
    </fieldset>

    <div class="health-level">
      <fieldset>
        <legend>Healthiness</legend>
        <input type="range" id="healthiness" name="healthiness" min="1" max="3" step="0.1" [(ngModel)]="healthiness">
        <label for="healthiness" class="healthy-diet">Healthy</label>
        <label for="healthiness" class="balanced-diet">Balanced</label>
        <label for="healthiness">Indulgent</label>
      </fieldset>
    </div>

    <div class="cooking-skill">
      <fieldset>
        <legend>Cooking Skill Level</legend>
        <input type="range" id="cooking-skill-level" name="cooking-skill-level" min="1" max="3" step="0.1"
          [(ngModel)]="cookingSkillLevel">
        <label for="skill-level">Beginner</label>
        <label for="skill-level" class="intermediate-level">Intermediate</label>
        <label for="skill-level" class="advanced-level">Advanced</label>
      </fieldset>
    </div>

    <div class="cost">
      <fieldset>
        <legend>Overall Meal Cost</legend>
        <input type="range" id="recipe-cost" name="recipe-cost" min="1" max="3" step="0.1" [(ngModel)]="mealCost">
        <label for="recipe-cost">Cheap</label>
        <label for="expensive-recipe-cost" class="advanced-level">Expensive</label>
      </fieldset>
    </div>


    <!-- <input type="submit" value="Save Preferences" id="save-preferences-button" name="save-preferences-button"> -->
  </form>

  <div class="bottom-button">
    <button mat-stroked-button color="warn" class="custom-button" (click)="savePreferences()"> Save Preferences </button>
  </div>
  <br>

</body>

</mat-card>
</div>

</html>