<h1 *ngIf="data.link == 1" mat-dialog-title>Instructions</h1>
<h1 *ngIf="data.link == 2" mat-dialog-title>Description</h1>
<mat-dialog-content class="mat-typography">
  <div *ngIf="data.link == 1" [innerHtml]="data.instructions"></div>
  
  <div *ngIf="data.link == 2 && data.summary == ''">No description found.</div>
  <div *ngIf="data.link == 2" [innerHtml]="data.summary"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Exit</button>
</mat-dialog-actions>
