<!DOCTYPE html>
<html>

<head>
  <title>Search Page</title>
</head>


  <div class="first">
    <mat-card class="cardmajor">
      <div class="first">
        <h1>Customize Your Cooking Experience</h1>
      </div>
      <div class="first">
        <button color="warn" mat-stroked-button class="custom-button" (click)="generateRecipes()">Get Your Recipes For This
          Week</button>
      </div>
      <br>  <br>
    </mat-card>
  </div>
  <div class="first">
  <mat-card class="cardmajor">
  <div class="first">
    <div class="header-container">
      <h1>Your Recipes </h1> <br>
      <mat-spinner [diameter]="50" [strokeWidth]="5" *ngIf="pending_your_recipes" ></mat-spinner>
    </div>
  </div>
  <div class="first">
    <div class="first" fxFlexAlign="stretch">
      <div class="container">
        <div *ngFor="let card of week_cards" class="card" (click)="cardClicked($event, card)">
          <div class="card-image-wrapper">
            <img src="{{ card.image }}" alt="Product Image">
            <button mat-mini-fab class="addbutton" matTooltip="primary" color="warn" aria-label="" (click)="removeRecipe($event, card)">
                <mat-icon>remove</mat-icon>
            </button>
          </div>
          <div class="content">
            <h2>{{ card.title }}</h2>
            <mat-card-content>
              <mat-expansion-panel class="mat-elevation-z0">
                t
              </mat-expansion-panel>
            </mat-card-content>
            <div class="bottomcontainer">
              <button color="warn" mat-stroked-button> Instructions </button>
              <button color="warn" mat-stroked-button> Description </button>
            </div>
            <!-- <button>+</button> -->
          </div>
  
        </div>
  
      </div>
    </div>
  </div>
  </mat-card>
  </div>
  <div class="first">
  <mat-card class="cardmajor">
  <div class="first">
    <div class="header-container">
      <h1>This Week's Suggestions</h1> <br>
      <mat-spinner [diameter]="50" [strokeWidth]="5" *ngIf="pending" ></mat-spinner>
    </div>
  </div>

  <div class="first" fxFlexAlgin="stretch">
    <div class="container">
      <mat-card *ngFor="let card of cards" class="card" (click)="cardClicked($event, card)">
        <div class="card-image-wrapper">
            <img src="{{ card.image }}" alt="Product Image">
            <button mat-mini-fab class="addbutton" matTooltip="primary" color="warn" aria-label="" (click)="addRecipe($event, card)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="content">
          <h2>{{ card.title }}</h2>
          
          <!-- <button>+</button> -->
        </div>
        <mat-card-actions class="my-card-actions">
          <button color="warn" mat-stroked-button class="custom-button"> Instructions </button>
          <button color="warn" mat-stroked-button class="custom-button"> Description </button>
        </mat-card-actions>

      </mat-card>

    </div>
  </div>
  </mat-card>
  </div>


</html>