.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-auth-button  {
  position: absolute;
  width: 80%;
  text-align: left;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}