<!--card.component.html-->
<mat-card class="dashboard-card">

    <mat-card-header class="dashboard-card-content">
            <mat-card-title color="primary">
                <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                    <h2 class="dashboard-card-content"> Continue Your Culinary Journey <br></h2>
                </ng-container>
                <ng-template #loggedOut>
                    <h2 class="dashboard-card-content"> Start With FoodPlanner Today! <br></h2>
                </ng-template>
            </mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content" style="color: rgb(67, 105, 24);">
        <h3 class="newfont"> <br> In Three Simple Steps!  <br> <br> </h3>
        <div class="container">
                <button mat-stroked-button color = "warn" class="custom-button" routerLink="/preferences">Select Preferences</button>
            >> 
                <button mat-stroked-button color = "warn" class="custom-button" routerLink="/weekly-recipes">Generate and Select Recipes</button>
            >> 
                <app-pdfbutton>Poop</app-pdfbutton>
        </div>
    </mat-card-content>

</mat-card>