<!--card.component.html-->
<mat-card class="dashboard-card" style="text-align: center;" color="accent">
    <mat-card-header style="text-align: center;">
        <div style="text-align: center;">
            <mat-card-title>
                Welcome
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                </mat-menu>
            </mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
        Get started using foodplanner today! <br />
        <div *ngIf="auth.user$ | async as user">
            {{responseUserData}}
        </div>
        <br /> <br />
        <app-auth-button></app-auth-button>
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>